.markdown > h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}
.markdown > strong {
  font-weight: bold;
}
.markdown > ul, ol {
  margin-left: 20px;
  margin-right: 20px;
  list-style-type: disc;
}
.markdown > ul, ol > li {
  line-height: 1.4;
}
.markdown > pre {
  color: white;
  background-color: hsl(213, 65%, 12%);
  border-radius: 4px;
  overflow: scroll;
  padding: 8px;
  line-height: 1.3;
}
.markdown > p > code {
  color: white;
  background-color: hsl(213, 65%, 12%);
  border-radius: 4px;
  padding: 4px 8px;
}
.markdown > p > img {
  object-fit: cover;
  width: 20vw;
  height: 20vw;
  min-width: 180px;
  max-width: 300px;
  margin: 12px;
}
.markdown > p {
  line-height: 1.2;
}